<form class="pure-form" method="post" action="/player" >
    <fieldset>
        <legend>Welcome to poker! Please provide your name to begin!</legend>
        <input type="text" name="name" placeholder="Name">
        <button type="submit" class="pure-button pure-button-primary">Start Playing!</button>
    </fieldset>
</form>