<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" type= "text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Poker</title>
</head>
<body>
	<%= erb :_header %>
	<%= yield %>
	
</body>
</html>