<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="poker.js"></script>
	<link rel="stylesheet" type= "text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Poker</title>
</head>
<body>
	<%= erb :_header %>
	<%= yield %>
	
</body>
</html>