
<% @@game.player1.hand.each do |card| %>	
	<div class="card"><p><%= card.suit %></p><p><%= card.number %></p></div>

<% end %>

<a href="/play_again">play again</a>

<%= @@game.hand_value %>

<%= @@game.record %>
