header {
	text-align: center;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid red;
}

.card {
	font-size: 20px;
	position: relative;
	height: 150px;
	width: 100px;
	background-color: red;
	display: inline-block;
	color: white;
}

.card-suit, .card-number {
	position: absolute;
}

.card-suit {
	font-size: 32px;
	top: -6px;
	left: 6px;
}

.card-number {
	bottom: 0px;
	right: 16px;
}

.black{
	background-color: black;
}